{{define "alert"}}
    <div class="alert alert-{{.Level}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
            <span aria-label="true">&times;</span>
        </button>
        {{.Message}}
    </div>
{{end}}
