{{define "alert"}}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
            <span aria-label="true">&times;</span>
        </button>
        <strong>Danger!</strong> Something went wrong!
    </div>
{{end}}
