{{define "yield"}}
    <div class="row">
        <div class="col-md-12">
            <h1>
                {{.Title}}
            </h1>
            <u>
                {{range .Images}}
                    <li>{{.}}</li>
                {{end}}
            </u>
        </div>
    </div>
{{end}}
